@tailwind base;
@tailwind components;
@tailwind utilities;

.light {
  --background: 250, 250, 250;

  --primary: 24, 24, 27;

  --border: 212, 212, 216;

  --card: 228, 228, 231;
}

.dark {
  --background: 24, 24, 27;

  --primary: 212, 212, 216;

  --border: 63, 63, 70;

  --card: 39, 39, 42;
}

* {
  @apply transition-colors duration-200;
}

svg {
  @apply transition-all duration-200 ease-in-out;
  transition: fill 200ms ease-in-out, stroke 200ms ease-in-out;
}
